<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <h1>Quiz Heroes</h1>
      <table class="table">
          <tr>
            <th>User</th>
            <th>Total Score</th> 
          </tr>
          <tr>
            <td><img src="https://api.adorable.io/avatars/60/ivy%40carmin.com" alt="betsy devos avatar" class="avatar avatar--small">Ivy</td>
            <td>52</td> 
          </tr>
          <tr>
            <td><img src="https://api.adorable.io/avatars/60/nina%40carmin.com" alt="betsy devos avatar" class="avatar avatar--small">Nina</td>
            <td>34</td> 
          </tr>

        </table>
    </div>
  </div>
</div>
