<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card question">
    <p class="question__total">Total Questions: {{ questionsTotal }}</p>

    <div [ngSwitch]="final">
      <template [ngSwitchCase]="false">
        <h3 class="question__title">{{ currentQuestion.text }}</h3>
        <div class="row">
          <button *ngFor="let option of currentQuestion.options" class="btn btn-block btn-lg btn-primary" (click)="check(option)">{{ option }}</button>
        </div>
      </template>
      <template [ngSwitchCase]="true">
        <h3 class="question__title">You got {{ correctAnswers }} out of {{ questionsTotal }}</h3>

        <table class="table">
          <tr>
            <th>Question</th>
            <th>Answer</th> 
          </tr>
          <tr *ngFor = "let question of questions">
            <td>{{ question.text }}</td>
            <td>{{ question.answer }}</td> 
          </tr>

        </table>

        <button class="btn btn-block btn-lg btn-danger" (click)="startOver()"> Start Over</button>
      </template>
      <template ngSwitchDefault>
        <p>Something is not working...</p>
      </template>
    </div>
    </div>
  </div>
</div>



