<div class="row">
  <div class="col-xs-12">
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">Quizuple</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav navbar-left">
          <li><a routerLink="/leaderboard">Leaderboard <span class="navbar-unread">3</span></a></li>
          <li dropdown>
            <a dropdownToggle href="#fakelink">Available Tests <span class="caret"></span></a>
            <ul dropdownMenu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </li>
          <li><a href="#fakelink">About Us</a></li>
         </ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="#fakelink" class="user">Betsy DeVos<img src="https://api.adorable.io/avatars/60/ria%40carmin.com" alt="betsy devos avatar" class="avatar avatar--small"></a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>