<nav class="row"> 
  <div class="col-md-6 col-md-offset-3">
    <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" aria-disabled="false">
      
      <div *ngFor = "let divider of dividers" class="ui-slider-segment" [style.margin-left]="segment + '%'"></div>

      <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" [style.width]="progressService.counter / total * 100 + '%'"></div>
      <div class="ui-slider-handle ui-state-default ui-corner-all" [style.left]="progressService.counter / total * 100 + '%'">{{ progressService.counter }} </div>
    </div>
  </div>
</nav>


