html,
body {
  background: #eeeeee;
}

.card {
  background: white;
  box-shadow: 0px 3px 10px #aaa;
  border-radius: 4px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 4rem; 
}

.progress-bar {
  
}