.header {
  margin-top: 2rem;

  &__logo {
    height: 42px;
    padding: 0 .55rem;
    margin-top: .55rem;
    margin-right: .55rem;
    vertical-align: -50%;
  }
}

.navbar-brand>img {
  display: inline-block !important;
}

.user {
padding: .8rem 0 !important;
}

.avatar {
  margin: 0 1rem;
  border-radius: 50%;

  &--small {
    height: 3.5rem;
  }
}

.dropdown-item.selected {
    background: #1abc9c;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu > li {
    color: #bbb;
    padding: 6px 9px;
}

.btn-login {
    margin-top: .55rem;
    margin-right: .6rem;
    width: 10rem;
}